
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-example/

# Artillery
/tests/ide/scalable/artillery/dist/

# For Local Development
/.auth/
playwright.env
/test-data/
/user-data/