KEYCLOAK_USER=                                              # Username for Keycloak
KEYCLOAK_PWD=                                               # Password for Keycloak

LANDINGPAGE_URL=https://theia.artemis.cit.tum.de            # URL of deployed Theia Landing Page
ARTEMIS_URL=https://artemis-test9.artemis.cit.tum.de        # URL of the Artemis instance that is tested
ARTEMIS_USER=                                               # Test User for Artemis with Course priviliges
ARTEMIS_PWD=                                                # Password of Artemis Test User

NUM_INSTANCES=10                                            # Number of instances for scaled testing
LOAD_TIMEOUT=5000                                           # Amount of time each virtual student runs in seconds
DETERMINISTIC=1                                             # Whether a deterministic workflow should be used in the load tests / 0 false, 1 true

# Beware of no trailing '/' on any URLs
LOCAL_URL_C=https://localhost:3030                          # URL of local Theia C Instance
LOCAL_URL_JAVA=https://localhost:3031                       # URL of local Theia Java Instance
LOCAL_URL_PYTHON=https://localhost:3032                     # URL of local Theia Python Instance
LOCAL_URL_OCAML=https://localhost:3033                      # URL of local Theia OCaml Instance
LOCAL_URL_RUST=https://localhost:3034                       # URL of local Theia Rust Instance
LOCAL_URL_JS=https://localhost:3035                         # URL of local Theia JS Instance