KEYCLOAK_USER=                                              # Username for Keycloak
KEYCLOAK_PWD=                                               # Password for Keycloak
LOCAL_URL=https://localhost:3030                            # URL of local Theia Instance
