BASE_URL=https://theia.artemis.cit.tum.de                   # The URL of the Theia Landing Page
INSTANCE_URL=https://instance.theia.artemis.cit.tum.de      # The URL of the Theia Onlinde IDE (Local or Deployed)
KEYCLOAK_USER=                                              # Username for Keycloak
KEYCLOAK_PWD=                                               # Password for Keycloak
